/*-----------------main elements-----------------*/
html,body {
    display: grid;
    background-color: black;
    color: ghostwhite;
    font-family: 'Dosis', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

header {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 5%;
    column-gap: 2%;
}

main {
    grid-row: 2;
}

footer {
    grid-row: 3;
    border-top: 3px solid deeppink;
    width: 100%;
    height: 10%;
    bottom: 0;
}
/*------------------------------------------------*/
/*-----------------header buttons-----------------*/
.sign-container {
    order: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin: 2% 5% 0% auto;
    max-width: 100%;
}

.menu-container {
    order: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin: 2% 20% 2% auto;
    max-width: 100%;
}

.button {
    flex-shrink: 0;
    border-style: solid;
    border-width: 3px;
    border-color: deeppink;
    border-radius: 30px;
    font-size: 15pt;
    font-family: 'Dosis', sans-serif;
    padding: 6% 10%;
    margin: 3%;
}

.register-button {
    background-color:deeppink;
    font-weight: 900;
    color: black;
}

.menu-button {
    background-color: black;
    font-weight: 550;
    color: ghostwhite;
}
/*----------------------------------------------*/
/*-----------------theme circle-----------------*/
.circle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    border-color: cyan;
    border-style: dotted;
    padding: 0;
    margin: 5% auto;
}

#theme1 {
    display: flex;
    justify-content: center;
    margin-top: -2.5vw;
}

#theme24 {
    display: flex;
    justify-content: space-between;
    margin: 0 -1vw;
}

#theme35 {
    display: flex;
    justify-content: space-between;
    margin: 2.5vw 1.5vw;
}

.theme-image { 
    max-width: 100%; 
    border-radius: 50%;
    border-color: cyan;
    border-style: solid;
    transition: .15s;
    width: 7vw;
    height: 7vw;
}
/*----------------------------------------------*/
.center-inline-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3vw auto;
}

.main-container {
    display: inline-flex;
    border-radius: 3vw;
    background: black;
    border-style: solid;
    padding: 3%;
}
/*-----------------register.php-----------------*/
.register-container {
    border-color: blueviolet;
}

.register-form {
    font-size: 150%;
    font-weight: 700;
}
/*----------------------------------------------*/
/*----------------signin.php--------------------*/
.signin-container {
    border-color:lightseagreen;
}
/*----------------------------------------------*/
/*-------------------inputs---------------------*/
input[type=text],[type=password],[type=number],[type=email] {
    border: solid;
    border-radius: 15px;
    border-color: ghostwhite;
    font-size: 20px;
    height: 30px;
}

.submit {
    background-color: cyan;
    border: hidden;
    border-radius: 20px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

input[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgb(0, 238, 255),0 17px 50px 0 rgb(0, 217, 255);
}
/*----------------------------------------------*/
/*----------------contact info------------------*/
.address-style {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    float: right;
    color: ghostwhite;
}
/*----------------------------------------------*/
/*-----------------whatnext.php------------------*/
.hobby {
    text-align: center;
}

.hobby_title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 130%;
    font-weight: bold;
}

.hobby_row {
    display: grid;
}

.hobby_column1 {
    grid-column: 1;
}

.hobby_column2 {
    grid-column: 2;
}

.hobby_img {
    width: 30vw;
    height: auto;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.hobby_img:hover {
    opacity: 0.5;
}

/*----------------------------------------------*/
/*------------------quizz.php-------------------*/
/*maybe make randomized color picker - from an JS array*/
.question-container {
    border-color:mediumspringgreen;
}
/*----------------------------------------------*/
span {
    color: red;
}
/*------------------scoreboard.php--------------*/
.score-table {
    display: grid;
    align-items: center;
    margin: 1vw auto;
}

.score-header {
    display: grid;
    grid-row: 1;
    border-bottom: 5px outset darkturquoise;
    padding: 1% 8%;
    text-align: center;
}

.score-content {
    display: grid;
    padding: 1%;
    align-self: center;
}

.score-row {
    display: grid;
    text-align: center;
}

.score-rank {
    display: grid;
    grid-column: 1;
}

.score-username {
    display: grid;
    grid-column: 2;
    font-weight: bold;
}

.score-score {
    display: grid;
    grid-column: 3;
}
/*----------------------------------------------*/
/*---------------userprofile.php----------------*/
.avatar-content {
    display: none;
}

.avatar:hover .avatar-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.avatar button {
    background-color:black;
    border: solid deeppink 2px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    color: ghostwhite;
    display: inline-block;
    font-size: 1vw;
    margin: 10px 2px;
}
/*----------------------------------------------*/
